<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar reserva</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CarpetaCss/Restaurantes/modificar_reserva.css' %}">
</head>
<body>
    <div class="bg_home">
        <header class="header_nav">
            <div class="container">
                <h1>Modificar Reserva</h1>
            </div>
        </header>

        <main class="container">
            <div class="form-wrapper">
                <form action="{% url 'modificar_reserva' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_reserva">ID de reserva:</label>
                        <input type="text" id="id_reserva" name="id_reserva" required placeholder="Ingrese el ID de la reserva">
                    </div>
                    <button type="submit" class="btn">Modificar</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>